@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(165,173,196);
    max-width: auto;
}
body{
    padding: 0px;
    margin: 0px 0px 60px 0px;
}
main{
    padding: 16px;
    margin: 10px
}

footer{
    padding: 24px 24px;
    bottom: 0px;
    position:fixed;
    background-color: rgb(73, 82, 107);
    width: 100%;
    color: white;
}
a {
    color:rgb(255, 255, 255);
}

nav a {
    color: rgb(255,255,255);
}

a:link{
    text-decoration: none;
}
a:visited{
    color:rgbargb(46, 45, 45);
}

a:hover{
    color:rgb(0, 128, 0);
}

img{
    height:200px;
    border: 2px solid black;
    border-radius: 5em;
}
img:hover{
    bo
}
nav{
    border-bottom:1px solid rgb(73, 82, 107);
    padding:16px;
    background-color: rgb(73, 82, 107);
    color:white;
}
.main-page{
    display: grid;
    grid-template-rows: auto auto 1fr;
}
.recipes{
    display: grid;
    grid-template-columns: repeat(4, auto);
}
h1{
    background-color: rgb(22, 27, 41);
    width:fit-content;
    padding: 0.3em;
    border-radius: 2em;
    color: white;

}
.ingredients tr:nth-child(even), thead {
    background-color: rgba(0,0,0,.2);
 }

.recipe{
    width: max-content;
    align-self: center;
    margin: 1em 2em;
    padding: 1em 1em;
    background-color: rgb(22, 27, 41);
    border-radius: 2em;
}
.recipe:hover{
    box-shadow: 0px 0px 15px 15px rgba(255,255,255,0.5);
    transition: box-shadow 0.25s;
    }

.rating{
    margin: auto auto;
    width:fit-content;
}

.rating:hover{
    color:white;
    transition: color .25s;
}
